
.footer {
    background-color: $color-bleu-site;
    color: $color-white;
    padding-top: $spacing-m;
    padding-bottom: $spacing-m;
    position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
