
.header {
  height: 80px;
  box-shadow: 0 0 5px 3px rgba(0,0,0,.15);
  background-color: $color-white;
  display: flex;
  position: fixed;
  justify-content: space-between;
  left: 0;
  right: 0;
  z-index: 2;
  a {
	height: inherit;
	.header-logo {
	  max-height: 100%;
	}

  }
  .nav-menu{
	display: flex; /* contexte sur le parent */
	flex-direction: column; /* direction d'affichage verticale */
	justify-content: center; /* alignement vertical */
	#menuToggle {
	  .menuTiny{
		position: absolute;
		width: 300px;
		margin: -100px 0 0 -50px;
		padding: 50px;
		padding-top: 125px;
		background: #ededed;
		display: block;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(100%, 0);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		right: 0;
		height: 110vh;
		@include tablet-portrait {
		  padding: 0;
		  margin: 0;
		  background: none;
		  transform: none;
		  position: relative;
		  width: initial;
		  display: flex;
		  list-style: none;
		  justify-content: center;
			height: initial;
		  a{
			font-size: 1rem;
		  }
		}
		li {

		  font-size: 22px;
		  padding: 0.3rem 1rem;
		  text-decoration: none;
		  transition: background-color ease-in-out 0.2s;
		  font-weight: bold;
		  margin: 0 0.5rem;
		  border-radius: 30px;
		  &:hover{
			//text-decoration: none;
			color: #fafafa;
			background: #121651;

			//padding: 0 0;
		  }
		}

	  }
	  display: block;
	  position: relative;
	  z-index: 1;
	  padding: 0 2rem 0 0;
	  .hide-bar-menu{
		//si la taille de l'écran est en dessous de 400 alors display block
		display: block;
		//sinon display none
		@include tablet-portrait {
		  display: none;
		}
	  }
	  input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0;
		-webkit-touch-callout: none;
		z-index: 10;
		&:checked {
		  ~ {
			.hide-bar-menu span {
			  opacity: 1;
			  transform: rotate(45deg) translate(-2px, -1px);
			  background: #232323;
			  &:nth-child(3) {

				transform: rotate(-45deg) ;
			  }
			  &:nth-child(2) {
				transform: rotate(0deg);
				opacity: 0;
			  }
			  &:nth-child(1) {
			   // transform: rotate(-45deg) ;
			  }
			}
			ul {
			  transform: none;
			}
		  }
		}
	  }
	  span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
		&:first-child {
		  transform-origin: 0% 100%;
		}
		&:nth-child(2) {
		  transform-origin: 0% 0%;
		}
	  }
	}

  }
}





/*
 * Just a quick hamburger
 */
/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
/*
 * But let's hide the middle one.
 */
/*
 * Ohyeah and the last one should go the other direction
 */
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
/*
 * And let's slide it in from the left
 */



