// To see behaviour media queries mixins
// Go to : https://itnext.io/writing-media-queries-with-sass-mixins-3ea591ea3ea4
@mixin small-mobile {
  @media screen and (min-width: #{$breakpoint-mobile-small}) { @content; }
}
@mixin mobile {
  @media screen and (max-width: #{$breakpoint-mobile}) { @content; }
}
@mixin tablet-portrait {
  @media screen and (min-width: #{$breakpoint-tablet-portrait}) { @content; }
}
@mixin tablet-portrait-only {
  @media screen and (min-width: #{$breakpoint-tablet-portrait}) and (max-width: ($breakpoint-tablet-landscape - 1)) { @content; }
}
@mixin tablet-landscape {
  @media screen and (min-width: #{$breakpoint-tablet-landscape}) { @content; }
}
@mixin tablet {
  @media screen and (min-width: #{$breakpoint-tablet-landscape}) { @content; }
}
@mixin desktop {
  @media screen and (min-width: #{$breakpoint-desktop}) { @content; }
}
@mixin big-desktop {
  @media screen and (min-width: #{$breakpoint-big-desktop}) { @content; }
}







@mixin btn($left, $top) {
  width: 60px;
  height: 60px;
  top: $top;
  left: $left;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 30px;
  background-color: $color-black;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $color-black;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $color-black;
  content: "";
  top: $top;
}

@mixin icon-circle($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 2px;
  border-radius: 100%;
  background: transparent;
  border: 4px solid black;
  left: -15px;
}
