html {
  font-size: $font-size-root;
  font-family: $font-family-base;
}

body {
  background-color: $body-bg;
  color: $body-color;
  position:relative;
  padding-bottom: $spacing-m;
  min-height: 100vh;
  overflow: hidden auto;
}

a {
  text-decoration: none;
  color: inherit;
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}

#main-container {
  padding-top: $spacing-5xl;
  //padding-bottom: $spacing-2xl;
  margin-bottom: $spacing-5xl;

}

*:before,
*:after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
