// COLOR

$color-white-broken:    #fafafa;
$color-white:           #fff;
$color-black:           #000;
$color-bleu-site :      #121651 ;

$color-base: $color-black;

// FONT FAMILY

$font-family-base : Roboto, sans-serif;
// FONT SIZE

$font-size-root:     16px !default;
$font-size-base:     1rem !default; // Assumes the browser default, typically `16px`
$font-size-l:        1.25rem;


// SPACING

$spacing-xs:    0.5rem;
$spacing-s:     0.75rem;
$spacing-m:     1rem;
$spacing-l:     1.25rem;
$spacing-xl:    1.5rem;
$spacing-xxl:   2rem;
$spacing-2xl:   2.25rem;
$spacing-5xl:   5rem;

// BORDER
$border-radius-base: 4px;

$border-radius-pagination: 5px;


$box-shadow-base: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);

// BREAKPOINT
$breakpoint-mobile-small:       500px;
$breakpoint-mobile:             599px;
$breakpoint-tablet-portrait:    600px;
$breakpoint-tablet-landscape:   900px;
$breakpoint-desktop:            1200px;
$breakpoint-big-desktop:        1800px;


// Body
//
// Settings for the `<body>` element.
$body-content-max-width:    960px;
$body-bg:                   $color-white-broken !default;
$body-color:                $color-base !default;
