{% extends 'base.html.twig' %}

{% block title %} {{ formation.title }} {% endblock %}

{% block body %}
<div class="container">
    <div class="main-content container-formation">
        <div class="formation-contenu">
            <div class="container-entete">
                <div class="formation-image-company">
                    <img src="{{ formation.idcompany.image }}" alt="{{ formation.idcompany.name }}" class="card-media-img responsive">
                </div>
                <div class="container-title">
                    <h1 class="formation-title">
                        {{ formation.title }}
                    </h1>
                    <h2 class="formation-company-name">{{ formation.idcompany.name }}</h2>
                </div>
            </div>
           <p>{{ formation.content }}</p>
        </div>
    </div>
</div>
{% endblock %}
