{% extends 'base.html.twig' %}

{% block title %} {{parent()}} - Liste des formations {% endblock %}


{% block body %}
    <section class="section-container-list container">
        <h2 class="section-container-list-title">Liste des formations</h2>
        <!-- <p>Page courante : {{ pageCurrent }}</p> -->
        <div class="grid-list">
            {% for formation in formationList %}
                {% include 'components/card.html.twig' %}
            {% endfor %}
        </div>
        <div class="contenaire-pagination">
            {{ knp_pagination_render(formationList) }}
        </div>
    </section>
{% endblock %}
