{% extends 'base.html.twig' %}

{% block title %}Trouve ta formation - Liste des formations{% endblock %}



{% block body %}

    <section class="section-container-list container">
        <h2 class="section-container-list-title">Les récentes actualités</h2>
        <div class="grid-list-act">

            {% for actuality in actulityList %}
                {% include 'components/card_actu.html.twig' %}
            {% endfor %}
        </div>
    </section>

    <section class="section-container-list container">
        <h2 class="section-container-list-title">Les récentes formations</h2>
        <div class="grid-list">
            {% for formation in formationList %}
                {% include 'components/card.html.twig' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
