
.actualite{
  & > img{
    border-style: none;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  & > p > span{
    display: block;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}