



.formation-contenu {
  .container-entete{
    @include tablet-portrait{
      display: flex;
      flex-direction: row-reverse;

        & > div{
          flex: 0 0 50%;
        }

    }
    .container-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      & > * {
        text-align: center;
      }
    }
    .formation-image-company {
      max-width: 300px;
      margin: 0 auto;
    }
    .formation-company-name {
      margin: 1rem 0;
    }

  }


  p {
    padding: 1rem 0;
  }
}