

.section-container-list {
  padding: $spacing-l $spacing-xs;
  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
  .section-container-list-title {
    margin-top: 0;
    margin-bottom: $spacing-s;
  }
}

.section-container-list-title {
}
