
    .grid-list-act {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(1 ,auto);
        @include  tablet-portrait{
            grid-template-columns: repeat(2, auto);
        }
    }
    .card-actu {   
        display: flex;
        background-color: $color-white;
        border-radius: $border-radius-base;
        box-shadow: $box-shadow-base;
        overflow: hidden;
        transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
        &:hover {
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        height: 200px;
        .container-content-actualite{
            padding: 0.5rem 0.5rem 2rem;
            position: relative;  
            .title-actualite{
                margin-bottom:$spacing-s;
               // height: 70px;
                overflow: hidden;
            }

            .content-actualite{  
                margin-bottom: $spacing-s;
                height: 90px;
                overflow: hidden;
                .link-actu {
                   
                    text-align: right;
                    margin: 0.5rem 0;
                    position: absolute;
                    right: 0;
                    bottom: 5px;
                    a{
                        margin: 0 0.5rem;
                        padding: 0.3rem 1rem;
                        border-radius: 4rem;
                        transition: all ease-in-out 0.2s;
                        font-weight: bold;
                        
                        &:hover{
                            background-color: #121651;
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .container-media{
            flex: 1 0 40%;
            .card-media-img {
                min-height: 100%;
            }
        }
    }

