.contenaire-pagination{
	text-align: center;
	padding-top: $spacing-m;
	padding-left: $spacing-m;
}

.pagination {
	display: inline-block;
	box-shadow: $box-shadow-base;
	border-radius: $border-radius-pagination;
	background-color:$color-white;
	overflow: hidden;
	span {
		color: $color-black;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
		border: 1px solid #ddd;
		height: 35px;
		width: 45px;

		&:hover {
			background-color: $color-bleu-site;
			color : $color-white;
		}
		&:first-child {
			border-top-left-radius: $border-radius-pagination;
			border-bottom-left-radius: $border-radius-pagination;
		}
		&:last-child {
			border-top-right-radius: $border-radius-pagination;
			border-bottom-right-radius: $border-radius-pagination;
		}
	}
	.current{
		background: #ddd;
		color: $color-bleu-site;
	}
	span:hover, .current{
		font-size: large;
	}
}
.center{
	text-align : center;
}
