{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="main-content actualite">
        <img src="{{ actuality.image }}">
        <h1>{{ actuality.title }}</h1>
        <p>
            {{ actuality.content }}
            <span>{{ actuality.dateActu|date('d-m-Y h:i')  }}</span>
        </p>
    </div>
</div>
{% endblock %}
