{% extends 'base.html.twig' %}

{% block title %} {{parent()}} - Liste des actualités {% endblock %}



{% block body %}
    <section class="section-container-list container">
        <h2 class="section-container-list-title">Liste des actualités</h2>
        <!-- <p>Page courante : {{ pageCurrent }}</p> -->
        <div class="grid-list-actu">
            {% for actuality in actualitiesList %}
                {% include 'components/card_actu.html.twig' %}
            {% endfor %}
        </div>
        <div class="contenaire-pagination">
            {{ knp_pagination_render(actualitiesList) }}
        </div>
    </section>
{% endblock %}
