<header class="header" role="navigation">
    <a href="/" aria-label="Accueil">
        <img src="{{ asset('build/images/logo.png') }}" alt="TTF logo" class="header-logo">
    </a>
    <nav role="navigation" class="nav-menu">
        <div id="menuToggle">
            <!-- See  https://codepen.io/erikterwan/pen/EVzeRP-->
            <input type="checkbox" id="open-menu" />
            <div class="hide-bar-menu">

                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="menuTiny">
                <li><a href="/">Accueil</a></li>
                <li><a href="/actuality">Actualités</a></li>
                <li><a href="/formations">Formations</a></li>
            </ul>
        </div>

    </nav>



</header>
