<div  class="card-actu">
    <div class="container-media">
        <img src="{{ actuality.image }}" class="card-media-img responsive" alt="">
    </div>   
    <div class="container-content-actualite">
        <h3 class="title-actualite">
            {{ actuality.title }}
        </h3>
        <div class="content-actualite">                   
            {{ actuality.content }}
            <p  class="link-actu">
                {# <span>
                    {{ actuality.dateActu|date('d-m-Y') }}
                </span> #}
                <a href="{{ path('actuality', { id: actuality.id}) }}" >voir plus</a>
            </p>
        </div>
    </div>
    
</div>


 

